body {
  --backgroundColor: #fdf6e3;
  background: var(--backgroundColor);
  --inputBorderColor: black;
  --textColor: #111132;
  --buttonBorderColor: var(--textColor);

  --btnLabelColor: #fff;
  --foregroundColor: #111;
  --primaryColor: hsl(221deg, 88%, 60%);
  --primaryShade1: #e1f5fe;
  --primaryShade2: #b3e5fc;
  --primaryShade3: #4fc3f7;
  --primaryShade4: #0288d1;
  --primaryShade5: #0277bd;
  --secondaryColor: #673ab7;
  --secondaryShade1: #ede7f6;
  --secondaryShade2: #d1c4e9;
  --secondaryShade3: #9575cd;
  --secondaryShade4: #512da8;
  --secondaryShade5: #311b92;
  --accentColor: #009688;
  --accentShade1: #e0f2f1;
  --accentShade2: #b2dfdb;
  --accentShade3: #4db6ac;
  --accentShade4: #00796b;
  --accentShade5: #004d40;
  --accent2Color: #30d367;
  --accent2Shade1: #e7f6d5;
  --accent2Shade2: #c5e1a5;
  --accent2Shade3: #aed581;
  --accent2Shade4: #28b657;
  --accent2Shade5: #8bd0a2;
  --accent3Color: #f44336;
  --accent3Shade1: #ffdde0;
  --accent3Shade2: #ffcdd2;
  --accent3Shade3: #ef9a9a;
  --accent3Shade4: #d32f2f;
  --accent3Shade5: #b71c1c;
  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;
  --grayColor: #999;
  --lightGrayColor: #ddd;
  --cardColor: #f1c0e8;
  --boxShadow: 0 2px 5px rgba(51, 51, 51, 0.2);
  --canvasColor: #f9f9f9;

  --answer0: #eb7070;
  --answer2: #fec771;
  --answer3: #cce66c;
  --answer5: #64e291;

  --answer0-dimmed: #d36666;
  --answer2-dimmed: #f0bd6b;
  --answer3-dimmed: #b8d062;
  --answer5-dimmed: #59ca80;

  --borderRadius: 2px;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: var(--textColor);
}

.button {
  outline: none;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: var(--primaryColor);
  color: var(--btnLabelColor);
  position: relative;
  top: 0;
  transition: 0.2s ease transform;
  width: 200px;
  border: 2px solid var(--buttonBorderColor);
  font-weight: 600;
}

.button-color-dark {
  color: var(--textColor);
}

.button:hover {
  background: var(--primaryShade4);
}

.button.secondary {
  background: var(--secondaryColor);
}

.button.secondary:hover {
  background: var(--secondaryShade4);
}

.button.accent2 {
  background: var(--accent2Color);
}

.button.accent2:hover {
  background: var(--accent2Shade4);
}

header img {
  margin-top: 2rem;
  width: 300px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.main-container > .main-content {
  grid-area: 1 / 2 / 2 / 10;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.main-container .box {
  margin-top: 2rem;
  padding: 2rem 2rem 0 2rem;
}

.home-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quest-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.quest-content {
  grid-area: 2 / 1 / 8 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-number-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.card {
  margin: 2rem;
  margin-top: 3rem;
  height: 22rem;
  width: 100%;
  background: var(--cardColor);
  max-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid var(--textColor);
  padding: 2rem;
  font-size: 30px;
  font-weight: 600;
}

.recent-cards-container {
  display: flex;
}

.small-card {
  margin: 1rem 1rem 1rem 0;
  height: 9rem;
  width: 17rem;
  min-width: 17rem;
  max-width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 18px;
  position: relative;
  border: 2px solid var(--textColor);
}

.small-card:hover {
  border-style: dashed;
}

.small-card-front {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small-card-back {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small-card-back:hover {
  opacity: 1;
}

h3 {
  margin: 0;
  margin-bottom: 8px;
}

.bg-0 {
  background: #ffcfd2;
}

.bg-1 {
  background: #f1c0e8;
}

.bg-2 {
  background: #cfbaf0;
}

.bg-3 {
  background: #a3c4f3;
}

.card-show-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.answer-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.answer-0 {
  background: var(--answer0);
}
.answer-0:hover {
  background: var(--answer0-dimmed);
}

.answer-1 {
}

.answer-2 {
  background: var(--answer2);
}
.answer-2:hover {
  background: var(--answer2-dimmed);
}

.answer-3 {
  background: var(--answer3);
}
.answer-3:hover {
  background: var(--answer3-dimmed);
}

.answer-5 {
  background: var(--answer5);
}
.answer-5:hover {
  background: var(--answer5-dimmed);
}

.memorize-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-items: center;
  align-items: center;
}

.memorize-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
}

.text-input {
  height: 50px;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  font-family: "Satoshi";
  border-radius: var(--borderRadius);
  color: var(--textColor);
  background: var(--backgroundColor);
  width: 256px;
  height: 64px;
  border: 2px solid var(--buttonBorderColor);
}

.text-input:focus-visible {
  outline: none;
  border-style: dashed;
}

.add-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-input {
  display: inline-block;
  text-align: left;
  background: var(--backgroundColor);
  position: relative;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input > [type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  color: var(--textColor);
  background: var(--backgroundColor);
  box-sizing: border-box;
  height: 64px;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--buttonBorderColor);
  cursor: pointer;
}

.file-input:hover > .button {
  background: var(--primaryColor);
  color: white;
  cursor: pointer;
}

.file-input > .label {
  color: var(--textColor);
  white-space: nowrap;
  opacity: 0.3;
}

.file-input.-chosen > .label {
  opacity: 1;
}

.logo {
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 900;
  color: #511660;
  border: 0px dashed #511660;
  border-bottom-width: 3px;
  width: 180px;
  text-align: center;
  padding: 10px;
}