body {
  --backgroundColor: #fdf6e3;
  background: var(--backgroundColor);
  --inputBorderColor: black;
  --textColor: #111132;
  --buttonBorderColor: var(--textColor);

  --btnLabelColor: #fff;
  --foregroundColor: #111;
  --primaryColor: hsl(221deg, 88%, 60%);
  --primaryShade1: #e1f5fe;
  --primaryShade2: #b3e5fc;
  --primaryShade3: #4fc3f7;
  --primaryShade4: #0288d1;
  --primaryShade5: #0277bd;
  --secondaryColor: #673ab7;
  --secondaryShade1: #ede7f6;
  --secondaryShade2: #d1c4e9;
  --secondaryShade3: #9575cd;
  --secondaryShade4: #512da8;
  --secondaryShade5: #311b92;
  --accentColor: #009688;
  --accentShade1: #e0f2f1;
  --accentShade2: #b2dfdb;
  --accentShade3: #4db6ac;
  --accentShade4: #00796b;
  --accentShade5: #004d40;
  --accent2Color: #30d367;
  --accent2Shade1: #e7f6d5;
  --accent2Shade2: #c5e1a5;
  --accent2Shade3: #aed581;
  --accent2Shade4: #28b657;
  --accent2Shade5: #8bd0a2;
  --accent3Color: #f44336;
  --accent3Shade1: #ffdde0;
  --accent3Shade2: #ffcdd2;
  --accent3Shade3: #ef9a9a;
  --accent3Shade4: #d32f2f;
  --accent3Shade5: #b71c1c;
  --neutralShade1: #f2f2f2;
  --neutralShade2: #e8e9e9;
  --neutralShade3: #d1d3d4;
  --neutralShade4: #babdbf;
  --neutralShade5: #808488;
  --neutralShade6: #666a6d;
  --neutralShade7: #4d5052;
  --neutralShade8: #212122;
  --grayColor: #999;
  --lightGrayColor: #ddd;
  --cardColor: #f1c0e8;
  --boxShadow: 0 2px 5px rgba(51, 51, 51, 0.2);
  --canvasColor: #f9f9f9;

  --answer0: #eb7070;
  --answer2: #fec771;
  --answer3: #cce66c;
  --answer5: #64e291;

  --answer0-dimmed: #d36666;
  --answer2-dimmed: #f0bd6b;
  --answer3-dimmed: #b8d062;
  --answer5-dimmed: #59ca80;

  --borderRadius: 2px;
  font-family: "Satoshi", sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: var(--textColor);

  text-transform: lowercase;
}

.button {
  outline: none;
  width: 100%;
  text-align: center;
  display: inline-block;
  border: none;
  font-size: 20px;
  padding: 20px;
  cursor: pointer;
  border-radius: var(--borderRadius);
  background: var(--primaryColor);
  color: var(--btnLabelColor);
  position: relative;
  top: 0;
  transition: 0.2s ease transform;
  width: 200px;
  border: 2px solid var(--buttonBorderColor);
  font-weight: 600;
}

.button-color-dark {
  color: var(--textColor);
}

.button:hover {
  background: var(--primaryShade4);
}

.button.secondary {
  background: var(--secondaryColor);
}

.button.secondary:hover {
  background: var(--secondaryShade4);
}

.button.accent2 {
  background: var(--accent2Color);
}

.button.accent2:hover {
  background: var(--accent2Shade4);
}

header img {
  margin-top: 2rem;
  width: 300px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.main-container > .main-content {
  grid-area: 1 / 2 / 2 / 10;
  height: 100%;
  display: flex;
  flex-flow: column;
}

header.top {
  margin-top: 16px;
}


.memorize-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 32px;
  grid-row-gap: 0px;
}

.memorize-section-mobile {
  display: none;
}

.memorize-column {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  justify-items: center;
  align-items: center;
}

.all-cards-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}


.card {
  position: relative;
  margin: 2rem;
  margin-top: 0rem;
  height: 22rem;
  width: 100%;
  background: var(--cardColor);
  max-width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: 2px solid var(--textColor);
  padding: 2rem;
  font-size: 30px;
  font-weight: 600;
}

@media only screen and (max-width: 1000px) {
  .main-container > .main-content {
    grid-area: 1 / 1 / 2 / 11;
  }

  header.top {
    text-align: center;
  }

  .add-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
  }

  .tools {
    margin-top: 16px;
  }

  .tool-label {
    font-size: 20px;
  }

  .cards-header-main {
    font-size: 20px
  }

  .show-all-cards-btn {
    font-size: 20px;
  }

  .add-container > div {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .import-tool-section {
    display: none;
  }

  .memorize-section {
    display: none;
  }

  .memorize-section-mobile {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .memorize-column {
    display: flex;
  }

  .button {
    font-size: 16px;
    width: 180px;
  }

  .all-cards-container {
    justify-content: space-around;
  }

  .card {
    font-size: 22px;
    width: 240px;
    height: 120px;
  }

  .answer-buttons-container {
    flex-wrap: wrap;
  }

  .answer-buttons-container .button {
    width: 150px;
  }
}


.main-container .box {
  margin-top: 2rem;
  padding: 0rem 2rem 0 2rem;
}

.home-main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.quest-main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.quest-content {
  grid-area: 2 / 1 / 8 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-number-indicator {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

.recent-cards-container {
  display: flex;
  overflow: auto;
}

.small-card {
  margin: 1rem 1rem 1rem 0;
  height: 9rem;
  width: 17rem;
  min-width: 17rem;
  max-width: 17rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  font-size: 18px;
  position: relative;
  border: 2px solid var(--textColor);
}

.small-card:hover {
  border-style: dashed;
}

.small-card-front {
  opacity: 0.7;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small-card-back {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.small-card-back:hover {
  opacity: 1;
}

h3 {
  margin: 0;
  margin-bottom: 8px;
}

.bg-0 {
  background: #ffcfd2;
}

.bg-1 {
  background: #f1c0e8;
}

.bg-2 {
  background: #cfbaf0;
}

.bg-3 {
  background: #a3c4f3;
}

.card-show-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.card-show-container form {
  position: relative;
}

.answer-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-buttons-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.answer-0 {
  background: var(--answer0);
}
.answer-0:hover {
  background: var(--answer0-dimmed);
}

.answer-1 {
}

.answer-2 {
  background: var(--answer2);
}
.answer-2:hover {
  background: var(--answer2-dimmed);
}

.answer-4 {
  background: var(--answer3);
}
.answer-4:hover {
  background: var(--answer3-dimmed);
}

.answer-5 {
  background: var(--answer5);
}
.answer-5:hover {
  background: var(--answer5-dimmed);
}

.text-input {
  height: 50px;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  font-family: "Satoshi";
  border-radius: var(--borderRadius);
  color: var(--textColor);
  background: var(--backgroundColor);
  width: 256px;
  height: 64px;
  border: 2px solid var(--buttonBorderColor);
}

.text-input:focus-visible {
  outline: none;
  border-style: dashed;
}

.add-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-input {
  display: inline-block;
  text-align: left;
  background: var(--backgroundColor);
  position: relative;
  border-radius: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.file-input > [type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  color: var(--textColor);
  background: var(--backgroundColor);
  box-sizing: border-box;
  height: 64px;
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--buttonBorderColor);
  cursor: pointer;
}

.file-input:hover > .button {
  background: var(--primaryColor);
  color: white;
  cursor: pointer;
}

.file-input > .label {
  color: var(--textColor);
  white-space: nowrap;
  opacity: 0.3;
}

.file-input.-chosen > .label {
  opacity: 1;
}

.logo {
  font-size: 20px;
  text-transform: lowercase;
  font-weight: 900;
  color: #511660;
  border: 0px dashed #511660;
  border-bottom-width: 3px;
  width: 180px;
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

.edit-buttons-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-right: 16px;
  height: 50px;
  box-sizing: border-box;
}

.edit-button {
  background: transparent;
  border: none;
  cursor: pointer;

  transition: transform linear 100ms;
}

.edit-button:hover {
  transform: translateY(-2px);
}

.edit-card-text-input {
  height: 50px;
  font-size: 16px;
  width: 100%;
  padding: 12px;
  font-family: "Satoshi";
  border-radius: var(--borderRadius);
  color: var(--textColor);
  background: var(--backgroundColor);
  width: 256px;
  border: 2px solid var(--buttonBorderColor);
}

.edit-card-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 0;
}

.hidden {
  display: none;
}

.cards {
  margin-top: 1rem;
}

.cards-header {
  display: flex;
  align-items: center;
}

.cards-header-main {
  margin: 0;
}

.show-all-cards-btn {
  margin-left: 1rem;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: black;
}

.cards-nav {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.login-main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-main-content {
  height: 120;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 50px;
  border: 4px dashed #511660;
}

.login-header {
  margin: none;
}

.login-logo {
  border: none;
  margin: 0;
}

@keyframes text-glow {
  from {
    text-shadow: 0px 0px 5px #fff, 0px 0px 5px #614ad3;
  }
  to {
    text-shadow: 0px 0px 20px #fff, 0px 0px 20px #614ad3;
  }
}

@keyframes opacity-glow {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

.glow-animation {
  animation-name: opacity-glow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

input:disabled {
  opacity: 0.4;
  cursor: default;
  border-color: transparent;
}

.inactive {
  opacity: 0.4;
}

.all-memorized-msg {
  width: 100%;
  text-align: center;
  margin-top: 48px;
}

.cards-nav img {
  width: 32px;
}

.lets-try-again-msg {
  width: 44rem;
  color: #717171;
  position: absolute;
  top: 0;
  transform: translateY(calc(-100% - 4px));
  font-size: 20px;
  font-weight: 500;
}

.tool-label {
  display: block;
  margin-bottom: 1rem;
}

.import-label {
  line-height: 24px;
  vertical-align: middle;
}

.import-instruction {
  font-size: 20px;
  opacity: 0.5;
  margin-left: 8px;
  color: #717171;
  opacity: 0;
  transition: opacity 500ms linear;
}

.import-tool-section:hover .import-instruction {
  opacity: 1;
}

.answer-buttons-container form {
  position: relative;
}

.keyboard-nav {
  position: absolute;
  top: 2px;
  right: 7px;
  opacity: 0.7;
  font-size: 18px;
}