<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header>
          <img src="/static/logo.svg"/>
        </header>
        <main class="quest-main">
          <div class="quest-content">
            <div class="card-top">
              <div class="card-number-indicator">{{ .CardNumber }} / {{ .TotalCardsInSession }} </div>

              <div class="card-container">
                <div class="card">
                  <span>{{ .Back }}</span>
                </div>
              </div>
            </div>

            <div class="answer-form-container">
                <label>How's your memory?</label><br/>
                <div class="answer-buttons-container">
                  {{ range .Answers }}
                    <form action="/submitAnswer" method="POST">
                        <input type="hidden" value="{{ .Value }}" name="answerFeedback"/>
                        <input class="button answer-{{ .Value }}" type="submit" value="{{ .Label }}" />
                    </form>
                  {{ end }}
                </div>
            </div>
          </div>
        </main>
        </div>
      </div>
  </body>
</html>

