<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main-v1.1.2.css" />
    <link rel="icon" href="/static/favicon.ico"/>
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700"
      rel="stylesheet"
    />
    <title>spaced repetition</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header  class="top">
          <a href="/" class="logo">Spaced Repetition</a>
        </header>
        <main class="quest-main">
          <div class="cards-nav">
            <a href="/"><img src="/static/close.svg" /></a>
          </div>
          <div class="quest-content">
            <div class="card-top">
              <div class="card-number-indicator">
                {{ .CardNumber }} / {{ .TotalCardsInSession }}
              </div>

              <div class="card-container">
                <div class="card bg-{{ .Kind }}">
                  <span>{{ .Back }}</span>
                </div>
              </div>
            </div>

            <div class="answer-form-container">
              <label>How's your memory?</label>
              <div class="answer-buttons-container">
                {{ range .Answers }}
                <form action="/submitAnswer" method="POST">
                  <input
                    type="hidden"
                    value="{{ .Value }}"
                    name="answerFeedback"
                  />
                  <input
                    class="button answer-{{ .Value }} button-color-dark"
                    type="submit"
                    value="{{ .Label }}"
                  />
                </form>
                {{ end }}
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
      <script>
      const $btns = document.querySelectorAll('input[type="submit"]');

      const indexToBtn = {}
      Array.from($btns).forEach(($btn, index) => {
        indexToBtn[index + 1] = $btn
        const $label = document.createElement('div')
        $label.classList.add('keyboard-nav')
        $label.innerText = `(${index + 1})`
        $btn.parentNode.appendChild($label)
      })

      document.addEventListener('keypress', (e) => {
        e.preventDefault()
        if(e.key in indexToBtn) indexToBtn[e.key].click()
      })

      const $forms = document.querySelectorAll('form')
      const $card = document.querySelector('.card');
      const $answerUI = document.querySelector('.quest-content');

      Array.from($forms).forEach(($form, index) => {
        $form.addEventListener('submit', () => {

          if(index < 2) {
            $card.classList.add('card-loading-bad')
          } else {
            $card.classList.add('card-loading-good')
          }

          $answerUI.classList.add('no-touching')

          Object.entries(indexToBtn)
            .filter(([key]) => +key != index + 1)
            .forEach(([,$btn]) => {
              $btn.setAttribute('disabled', 'true')
              $btn.parentNode.removeChild($btn.parentNode.querySelector('.keyboard-nav'))
            })
        })
      })
    </script>
  </body>
</html>
