<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header>
          <div class="logo">Spaced Repetition</div>
        </header>
        <main>
          <div class="cards">
            <div class="all-cards-container">
              {{ range .Cards }}
              <div>
                <div class="small-card">
                  <div class="small-card-front bg-{{ .Kind }}">
                    <form action="/edit-card?id={{ .Id }}" method="POST" class="edit-card-container">
                        <input
                          class="edit-card-text-input"
                          type="text"
                          name="Front"
                          value="{{ .Front }}"
                          placeholder="Front..."
                          autocomplete="off"
                        />
                        <input
                          class="edit-card-text-input"
                          type="text"
                          name="Back"
                          value="{{ .Back }}"
                          placeholder="Back..."
                          autocomplete="off"
                        />
                    </form>
                  </div>
                </div>
                <div class="edit-buttons-container">
                  <form
                    method="POST"
                    action="/edit-card?id={{ .Id }}&front=test"
                  >
                    <button class="edit-button">
                      <img src="/static/edit.svg" />
                    </button>
                  </form>
                  <form method="POST" action="/delete-card?id={{ .Id }}">
                    <button class="edit-button">
                      <img src="/static/delete.svg" />
                    </button>
                  </form>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
