<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header>
          <div class="logo">Spaced Repetition</div>
        </header>
        <main>
          <div class="cards">
            <div class="all-cards-container">
              {{ range .Cards }}
              <div>
              <div class="small-card">
                <div class="small-card-front bg-{{ .Kind }}">{{ .Front }}</div>
                <div class="small-card-back bg-{{ .Kind }}">{{ .Back }}</div>
              </div>
              <div class="edit-buttons-container">            
                <form method="POST" action="/delete-card?id={{ .Id }}">
                  <button class="edit-button"><img src="/static/delete.svg"></button>
                </form>
              </div>
              </div>
              {{ end }}
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
