<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main-v1.1.1.css" />
    <link rel="icon" href="/static/favicon.ico"/>
    <title>spaced repetition</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header class="top">
          <a href="/" class="logo">Spaced Repetition</a>
        </header>
        <main>
          <div class="cards-nav">
            <a href="/"><img src="/static/back.svg" /></a>
          </div>
          <div class="cards">
            <div class="all-cards-container">
              {{ range .Cards }}
              <div id="small-card-container" cardId="{{ .Id }}">
                <div class="small-card" id="small-card">
                  <div
                    class="small-card-front bg-{{ .Kind }}"
                    id="small-card-front"
                  >
                    {{ .Front }}
                  </div>
                  <div
                    class="small-card-back bg-{{ .Kind }}"
                    id="small-card-back"
                  >
                    {{ .Back }}
                  </div>
                </div>
                <div class="small-card hidden" id="small-card-edit-form">
                  <div class="small-card-front bg-{{ .Kind }}">
                    <div class="edit-card-container">
                      <input
                        class="edit-card-text-input"
                        type="text"
                        name="Front"
                        value="{{ .Front }}"
                        placeholder="front..."
                        autocomplete="off"
                      />
                      <input
                        class="edit-card-text-input"
                        type="text"
                        name="Back"
                        value="{{ .Back }}"
                        placeholder="back..."
                        autocomplete="off"
                      />
                    </div>
                  </div>
                </div>
                <div class="edit-buttons-container" id="edit-buttons-container">
                  <button class="edit-button" id="edit-button">
                    <img src="/static/edit.svg" />
                  </button>

                  <button class="edit-button" id="delete-button">
                    <img src="/static/delete.svg" />
                  </button>
                </div>
                <div
                  class="edit-buttons-container hidden"
                  id="edit-actions-container"
                >
                  <button class="edit-button" id="cancel-button">
                    <img src="/static/close.svg" />
                  </button>

                  <button class="edit-button" id="approve-button">
                    <img src="/static/check.svg" />
                  </button>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </main>
      </div>
    </div>
    <script>
      const $cards = document.querySelectorAll("#small-card-container");

      Array.from($cards).forEach(($card) => {
        const cardId = $card.getAttribute("cardId");

        const showEditForm = () => {
          $card.querySelector("#small-card").classList.add("hidden");
          $card
            .querySelector("#edit-buttons-container")
            .classList.add("hidden");

          $card
            .querySelector("#edit-actions-container")
            .classList.remove("hidden");
          $card
            .querySelector("#small-card-edit-form")
            .classList.remove("hidden");
        };

        const hideEditForm = () => {
          $card.querySelector("#small-card").classList.remove("hidden");
          $card
            .querySelector("#edit-buttons-container")
            .classList.remove("hidden");

          $card
            .querySelector("#edit-actions-container")
            .classList.add("hidden");
          $card.querySelector("#small-card-edit-form").classList.add("hidden");
        };

        $card
          .querySelector("#edit-button")
          .addEventListener("click", showEditForm);

        $card
          .querySelector("#cancel-button")
          .addEventListener("click", hideEditForm);

        $card
          .querySelector("#approve-button")
          .addEventListener("click", async () => {
            const $frontInput = $card.querySelector("input[name=Front]");
            const $backInput = $card.querySelector("input[name=Back]");

            const res = await fetch(`/edit-card?id=${cardId}`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                Front: $frontInput.value,
                Back: $backInput.value,
              }),
            });

            const $smallCardFront = $card.querySelector("#small-card-front");
            const $smallCardBack = $card.querySelector("#small-card-back");

            if (res.status === 200) {
              $smallCardFront.innerText = $frontInput.value;
              $smallCardBack.innerText = $backInput.value;
              hideEditForm();
            }
          });

        $card
          .querySelector("#delete-button")
          .addEventListener("click", async () => {
            const res = await fetch(`/delete-card?id=${cardId}`, {
              method: "POST",
            });

            if (res.status === 200) {
              $card.parentElement.removeChild($card);
            }
          });
      });
    </script>
  </body>
</html>
