<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main-v1.1.2.css" />
    <link rel="icon" href="/static/favicon.ico"/>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>spaced repetition</title>
    <meta property="og:title" content="spaced repetition - memorize stuff better!">
    <meta property="og:site_name" content="spaced repetition">
    <meta property="og:url" content="https://spaced.sh">
    <meta property="og:description" content="spaced repetition is a (free forever) cute little flashcards app that helps you efficiently memorize information">
    <meta property="og:type" content="product">
    <meta property="og:image" content="https://lloydeck.sirv.com/screenshot.png">
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header class="top">
          <a href="/" class="logo">Spaced Repetition</a>
        </header>
        <main class="home-main">
          <div class="memorize">
             {{if and (ne .AllCardsCount 0) (eq .DueToReviewCount 0) (eq .NewCardsCount 0)}}
             <section class="all-memorized-msg">You've memorized all your cards 🥳 <br/> Come back tomorrow to review them 🙏</section>
              {{end}}
            <section class="memorize-section box  {{if and (ne .AllCardsCount 0) (eq .DueToReviewCount 0) (eq .NewCardsCount 0)}}inactive{{end}}">
              <form action="/review" method="POST">
                <div class="memorize-column">
                  <span><b>Cards to review</b>: {{ .DueToReviewCount }}</span>
                  <div class="loader-container">
                    <input
                      {{if eq .DueToReviewCount 0}}disabled{{end}}
                      class="button"
                      type="submit"
                      value="review"
                    />
                   </div>
                </div>
              </form>
              <form action="/learnNew" method="POST">
                <div class="memorize-column">
                  <span><b>New cards</b>: {{ .NewCardsCount }}</span>
                  <div class="loader-container">
                      <input
                        {{if eq .NewCardsCount 0}}disabled{{end}}
                        class="button secondary {{ if and (ne .AllCardsCount 0) (eq .AllCardsCount .NewCardsCount) }}glow-animation{{end}}"
                        type="submit"
                        value="memorize"
                      />
                    </div>
                </div>
              </form>
            </section>
          <section class="memorize-section-mobile box {{if and (ne .AllCardsCount 0) (eq .DueToReviewCount 0) (eq .NewCardsCount 0)}}inactive{{end}}">
              <form action="/review" method="POST">
                <div class="memorize-column loader-container">
                  <input
                    {{if eq .DueToReviewCount 0}}disabled{{end}}
                    class="button"
                    type="submit"
                    value="review ({{ .DueToReviewCount }})"
                   />
                </div>
              </form>
              <form action="/learnNew" method="POST">
                <div class="memorize-column loader-container">
                    <input
                      {{if eq .NewCardsCount 0}}disabled{{end}}
                      class="button secondary {{ if and (ne .AllCardsCount 0) (eq .AllCardsCount .NewCardsCount) }}glow-animation{{end}}"
                      type="submit"
                      value="memorize ({{ .NewCardsCount }})"
                    />
                </div>
              </form>
            </section>
   
          </div>
          <div class="cards">
              <div class="cards-header">
                <h3 class="cards-header-main">Recently added</h3>
                <a href="/cards" class="show-all-cards-btn">Show all cards ({{.AllCardsCount}})</a>
              </div>
              <div class="recent-cards-container">
              {{ range .Cards }}
                  <div class="small-card">
                        <div class="small-card-front bg-{{ .Kind }}">{{ .Front }}</div>
                        <div class="small-card-back bg-{{ .Kind }}">{{ .Back }}</div>
                  </div>
              {{ end }}
              </div> 
          </div>

          <div class="tools">
            <section>
              <label class="tool-label  {{ if eq .AllCardsCount 0 }}glow-animation{{end}}">Add single card</label>
              <form action="/add" method="POST">
                <div class="add-container">
                  <div>
                    <input
                      class="text-input"
                      type="text"
                      name="front"
                      placeholder="front..."
                      autocomplete="off"
                    />
                    <input
                      class="text-input"
                      type="text"
                      name="back"
                      placeholder="back..."
                      autocomplete="off"
                    />
                  </div>
                  <div class="loader-container">
                    <input class="button accent2" type="submit" value="add" disabled />
                  </div>
                </div>
                <script>
                  const $addBtn = document.querySelector('input[value="add"]')
                  const $frontInput = document.querySelector('input[name="front"]')
                  const $backInput = document.querySelector('input[name="back"]')

                  const onInputChange = (event) => {
                      if($frontInput.value?.length > 0 && $backInput.value?.length > 0) {
                        $addBtn.removeAttribute('disabled')
                      } else {
                        $addBtn.setAttribute('disabled', 'true')
                      }
                  }

                  $frontInput.addEventListener('input', onInputChange)
                  $backInput.addEventListener('input', onInputChange)
                </script>
              </form>
            </section>

            <section class="import-tool-section">
                <label class="tool-label import-label">Import cards from CSV
                  <a href="https://youtu.be/lZjPHeWqBTA" target="_blank"><img class="import-video-icon" src="/static/info.svg"/></a>
                </label>
                <form action="/import" method="POST" enctype="multipart/form-data">
                  <div class="add-container">
                    <div class='file-input'>
                      <input class="button" type="file" name="fileToUpload" id="fileToUpload" />
                      <span class='button'>Choose</span>
                      <span class='label' data-js-label>No file selected</label>
                    </div>
                    <div class="loader-container">
                      <input class="button accent2" type="submit" value="import" disabled/>
                    </div>
                  </div>
                </form>
                <script>
                  var inputs = document.querySelectorAll('.file-input')

                  for (var i = 0, len = inputs.length; i < len; i++) {
                  customInput(inputs[i])
                  }

                  const $importBtn = document.querySelector('input[value="import"]')

                  function customInput (el) {
                  const fileInput = el.querySelector('[type="file"]')
                  const label = el.querySelector('[data-js-label]')
                  
                  fileInput.onchange =
                  fileInput.onmouseout = function () {
                    if (!fileInput.value) {
                        $addBtn.setAttribute('disabled', 'true')
                        return
                    }
                    
                    $importBtn.removeAttribute('disabled')
                    var value = fileInput.value.replace(/^.*[\\\/]/, '')
                    el.className += ' -chosen'
                    label.innerText = value
                  }
                  }
                </script>
            </section>
          </div>
        </main>
        </div>
      </div>
      <script>
        // autorefresh every 1h
        setInterval(() => window.location.reload(), 60 * 60 * 1000)
      </script>
      <script>
        const findParentForm = (node) => node.tagName === 'FORM' ? node : node.parentNode && findParentForm(node.parentNode)
        const $loaderContainers = document.querySelectorAll('.loader-container')

        $loaderContainers.forEach(l => {
          findParentForm(l)?.addEventListener('submit', () => {
              const $loader = document.createElement('div')
              $loader.classList.add('loader')
              l.appendChild($loader)
              l.querySelector('input').value = ''
          })
        })
      </script>
      <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.9.3/tsparticles.confetti.bundle.min.js"></script>
      <script>
        const count = 200;
        const defaults = {
          origin: { y: 0.5 },
        };

        function fire(particleRatio, opts) {
          confetti(
            Object.assign({}, defaults, opts, {
              particleCount: Math.floor(count * particleRatio),
            })
          );
        }

        function runConfetti() {
          fire(0.25, {
            spread: 26,
            startVelocity: 55,
          });

          fire(0.2, {
            spread: 60,
          });

          fire(0.35, {
            spread: 100,
            decay: 0.91,
            scalar: 0.8,
          });

          fire(0.1, {
            spread: 120,
            startVelocity: 25,
            decay: 0.92,
            scalar: 1.2,
          });

          fire(0.1, {
            spread: 120,
            startVelocity: 45,
          });
        }

        function delete_cookie(name) {
          document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
        }

          if(document.cookie.includes('sessionFinished=true')) {
              delete_cookie('sessionFinished')
              {{if and (ne .AllCardsCount 0) (eq .DueToReviewCount 0) (eq .NewCardsCount 0)}}            
                    setTimeout(() => { runConfetti() }, 500)
                {{end}}
            }
      </script>
  </body>
</html>
