<html>
  <head>
    <link rel="stylesheet" href="/static/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header>
          <img src="/static/logo.svg"/>
        </header>
        <main class="home-main">
          <div class="memorize">
            <section class="memorize-section box">
              <form action="/review" method="POST">
                <div class="memorize-column">
                  <span><b>Cards to review</b>: {{ .DueToReviewCount }}</span>
                  <input class="button" type="submit" value="Review" />
                </div>
              </form>
              <form action="/learnNew" method="POST">
                <div class="memorize-column">
                  <span><b>New cards</b>: {{ .NewCardsCount }}</span>
                  <input class="button secondary" type="submit" value="Memorize" />
                </div>
              </form>
            </section>
   
          </div>
          <div class="cards">
              <h3>Recently added</h3>
              <div class="recent-cards-container">
              {{ range .Cards }}
                  <div class="small-card">
                        <div class="small-card-front bg-{{ .Kind }}">{{ .Back }}</div>
                        <div class="small-card-back bg-{{ .Kind }}">{{ .Front }}</div>
                  </div>
              {{ end }}
              </div> 
          </div>

          <div class="tools">
            <section>
              <label>Add single card</label>
              <br />
              <br />

              <form action="/add" method="POST">
                <div class="add-container">
                  <div>
                    <input
                      class="text-input"
                      type="text"
                      name="Front"
                      placeholder="Front..."
                      autocomplete="off"
                    />
                    <input
                      class="text-input"
                      type="text"
                      name="Back"
                      placeholder="Back..."
                      autocomplete="off"
                    />
                  </div>
                  <input class="button accent2" type="submit" value="Add" />
                </div>
              </form>
            </section>


            <section>
                <label>Import cards from CSV</label>
                <br/>
                <br/>
                <form action="/import" method="POST" enctype="multipart/form-data">
                  <div class="add-container">
                    <div class='file-input'>
                      <input class="button" type="file" name="fileToUpload" id="fileToUpload" />
                      <span class='button'>Choose</span>
                      <span class='label' data-js-label>No file selected</label>
                    </div>
                    <input class="button accent2" type="submit" value="Import"/>
                  </div>
                </form>
                <script>
                  var inputs = document.querySelectorAll('.file-input')

                  for (var i = 0, len = inputs.length; i < len; i++) {
                  customInput(inputs[i])
                  }

                  function customInput (el) {
                  const fileInput = el.querySelector('[type="file"]')
                  const label = el.querySelector('[data-js-label]')
                  
                  fileInput.onchange =
                  fileInput.onmouseout = function () {
                    if (!fileInput.value) return
                    
                    var value = fileInput.value.replace(/^.*[\\\/]/, '')
                    el.className += ' -chosen'
                    label.innerText = value
                  }
                  }
                </script>
            </section>
          </div>
        </main>
        </div>
      </div>
  </body>
</html>
