<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="icon" href="/static/favicon.ico"/>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
  </head>
  <body>
    <div
      id="g_id_onload"
      data-client_id="482033114572-6hm0ios0p74t3ek59oaa501uogaj27jb.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="http://localhost:3000/login"
      data-itp_support="true"
    ></div>
    <div class="login-main-container">
      <div class="login-main-content">
        <header class="login-header">
          <a href="/" class="logo login-logo">Spaced Repetition</a>
        </header>
        <main class="login-home">
          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="filled_black"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </main>
      </div>
    </div>
  </body>
</html>
