<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main-v1.1.0.css" />
    <link rel="icon" href="/static/favicon.ico"/>
    <title>spaced repetition</title>
    <meta name="viewport" content="width=device-width initial-scale=1">
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <meta property="og:title" content="spaced repetition - memorize stuff better!">
    <meta property="og:site_name" content="spaced repetition">
    <meta property="og:url" content="https://spaced.sh">
    <meta property="og:description" content="spaced repetition is a (free forever) cute little flashcards app that helps you efficiently memorize information">
    <meta property="og:type" content="product">
    <meta property="og:image" content="https://lloydeck.sirv.com/screenshot.png">
  </head>
  <body>
    <div
      id="g_id_onload"
      data-client_id="482033114572-6hm0ios0p74t3ek59oaa501uogaj27jb.apps.googleusercontent.com"
      data-context="signin"
      data-ux_mode="popup"
      data-login_uri="{{.AppUrl}}/login"
      data-itp_support="true"
    ></div>
    <div class="login-main-container">
      <div class="login-main-content">
        <header class="login-header">
          <a href="/" class="logo login-logo">Spaced Repetition</a>
        </header>
        <main class="login-home">
          <div
            class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="filled_black"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left"
          ></div>
        </main>
      </div>
    </div>
      <script>
          const standalone = window.navigator.standalone;
          const userAgent = window.navigator.userAgent.toLowerCase();
          const safari = /safari/.test(userAgent);
          const ios = /iphone|ipod|ipad/.test(userAgent);
  
            if (ios && !standalone && !safari) {
                document.querySelector('.login-home').innerHTML = '<div style="font-size: 14px">Oops 💩 Please login using proper browser like Chrome or Safari.</div>'
            }
      </script>
  </body>
</html>
