<html>
  <head>
    <link rel="stylesheet" href="/static/satoshi.css" />
    <link rel="stylesheet" href="/static/main.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,300i,500,500i,700"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="main-container">
      <div class="main-content">
        <header>
          <div class="logo">Spaced Repetition</div>
        </header>
        <main class="quest-main">
          <div class="quest-content">
            <div class="card-top">
              <div class="card-number-indicator">{{ .CardNumber }} / {{ .TotalCardsInSession }} </div>

              <div class="card-container">
                <div class="card">
                  <span>{{ .Front }}</span>
                </div>
              </div>
            </div>

            <div class="card-show-container">
              <form action="/answer" method="POST">
                <input class="button" type="submit" value="Show Answer" />
              </form>
            </div>
          </div>
        </main>
        </div>
      </div>
  </body>
</html>

